@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
body{
    background-color: rgba(254, 247, 190, 1) !important;
    font-family: 'Patrick Hand', cursive !important;
    align-items: center;
}
.choose{
    display: flex;
    flex-direction: inline;
    justify-content: center;
    width: auto;
}
.caroussel{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    background-color: rgba(245, 217, 94, 0.253);
}
.caroussel img{
    height: 10vw;
    max-height: 120px;
}
.left, .rigth{
    background-color: rgba(245, 217, 94, 0.795);
    border: none;
    color: rgb(214, 177, 11);
    transition: 800ms ease-in-out;
}
.left:hover, .rigth:hover{
    background-color: rgba(37, 37, 37, 0.1);
}
.screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.preview{
    display: flex;
}
.bg-screen {
    border-radius: 5px;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}
.char{
    transform: scale(0.75);
    display: flex;
    align-items: center;
    position: absolute;
}
.btn {
    background-color: rgb(168, 78, 252)!important;
    border: solid 3px #fff !important;
    box-shadow: -3px 3px 3px rgba(255, 94, 0, 0.459);
    font-size: 0.8rem!important;
  }
.h5{
    font-size: 1.2rem!important;
    color: rgb(168, 78, 252)!important;
    text-align: center;
}
.wizardPreview{
    width: 98vw;
}
.comissions{
    width: 100vw;
    padding: 20px;
}
@media(max-width: 520px) {
    .char{
        transform: scale(0.35);
        display: flex;
        align-items: center;
        position: absolute;
    }
  }